<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                           
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30407897?query=java">Senior Android Developer</a></td> 
     <td class="city">Харьков, Исторический музей</td> 
     <td class="companyName">ООО RIFF POINT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30818824?query=java">Senior Java Developer (#7622)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30662879?query=java">Team Lead Java (Remote)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Cloud Linux</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30819623?query=java">C / C++ Developer</a></td> 
     <td class="city">Харьков, Научная</td> 
     <td class="companyName">Zodiac Interactive</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30324658?query=java">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/28802076?query=java">C/С++ (Senior)</a></td> 
     <td class="city">Харьков, Научная</td> 
     <td class="companyName">ZiMAD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/29222582?query=java">Android Developer (Middle / Senior)</a></td> 
     <td class="city">Харьков, Научная</td> 
     <td class="companyName">ZiMAD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30718064?query=java">Java (PHP, С / С++, .NET) Project Manager / Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30718141?query=java">Smart Junior Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30718137?query=java">Mobile Software developer (React Native)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30291222?query=java">Front-end / Java Script Developer</a></td> 
     <td class="city">Харьков, 23 Августа</td> 
     <td class="companyName">Digital Cloud Technologies</td> 
     <td class="salary">от 2 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30637838?query=java">Web developer (веб-разработчик, Front-, Back-end)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Gagarin Studio</td> 
     <td class="salary">от 17 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/30443325?query=java">PHP/Back-end developer</a></td> 
     <td class="city">Харьков, Университет</td> 
     <td class="companyName">ООО imagineering.studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/29935331?query=java">C ++ Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Pipe Studio</td> 
     <td class="salary">от 1 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/dataart/vacancies/89693/?from=list_hot">Java Engineer, Online Retailer (Relocation to Lublin)</a></td> 
     <td class="city">Киев, Харьков, Львов, Днепр, Одесса, Херсон, за рубежом</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/cbok-sp-z-o-o/vacancies/88577/?from=list_hot">PHP (Symfony), Java/PHP, Frontend/PHP</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CBOK Sp. z o.o</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/cbok-sp-z-o-o/vacancies/88561/?from=list_hot">PHP (Symfony), PHP/front PHP/Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CBOK Sp. z o.o</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/intellias/vacancies/69969/">Adobe AEM Developer</a></td> 
     <td class="city">Киев, Харьков, Львов</td> 
     <td class="companyName">Intellias</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/axiomsl/vacancies/63789/">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">AxiomSL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/epam-systems/vacancies/73326/">Senior Java Engineer (Kharkiv)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/teamdev/vacancies/75655/">Java Developer for Big Data Project</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">TeamDev</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/teamdev/vacancies/75313/">Java Intern</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">TeamDev</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/miratech/vacancies/89193/">Senior Java developer</a></td> 
     <td class="city">Киев, Харьков</td> 
     <td class="companyName">Miratech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/softserve/vacancies/89009/">Intermediate / Senior Java Full Stack Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/epam-systems/vacancies/77715/">Java Architect (Kharkiv)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/rozdoum/vacancies/40439/">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Rozdoum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/rozdoum/vacancies/58889/">Java Software Engineer (Fullstack)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Rozdoum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/rozdoum/vacancies/64301/">Java Developer for Atlassian</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Rozdoum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/diligences-inc/vacancies/88965/">Software Solutions Architect for Saudi Arabia Project (high salary)</a></td> 
     <td class="city">Киев, Харьков, Львов, за рубежом</td> 
     <td class="companyName">Diligences Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/epam-systems/vacancies/88895/">Senior/Lead Test Automation Engineer (Java) (Kharkiv)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/quod-financial-ukraine/vacancies/83276/">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Quod Financial Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/kitrum/vacancies/82636/">Middle / Senior Java Developer (Java + JS)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">KitRUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/insoft-global/vacancies/81147/">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Insoft Global</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://jobs.dou.ua/companies/nix-solutions-ltd/vacancies/76564/">Software Test Automation Engineer (Java)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions Ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7585878">Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7504536">Big Data Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company787108/vacancy7530380">Strong Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7491431">Project Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7491437">Java Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company794/vacancy7592602">Middle QA Automation Engineer (Java) (IRC72397)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3809661/vacancy6772749">DevOps Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ezlo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7259731">Junior Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy4712142">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7556514">QA Automation Engineer (Appium+Java), Media Conglomerate</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7546293">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581190">Senior Java (Team Lead) Engineer, Transaction Platform</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581189">Senior Java Engineer, Betting and Gaming Industry</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581201">Data Engineer, Online Retailer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1701311/vacancy7573657">Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Lucky Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company787108/vacancy7375728">Junior Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5442155/vacancy6828297">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">AXIOMSL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7570024">Middle Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7838357/vacancy7572497">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Quod Financial Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7589639">Intermediate / Senior Java Full Stack Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7585878">Solution Architect</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7504536">Big Data Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company787108/vacancy7530380">Strong Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7491431">Project Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7491437">Java Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company794/vacancy7592602">Middle QA Automation Engineer (Java) (IRC72397)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3809661/vacancy6772749">DevOps Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ezlo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7259731">Junior Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy4712142">Junior Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7556514">QA Automation Engineer (Appium+Java), Media Conglomerate</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7546293">Senior Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581190">Senior Java (Team Lead) Engineer, Transaction Platform</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581189">Senior Java Engineer, Betting and Gaming Industry</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581201">Data Engineer, Online Retailer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1701311/vacancy7573657">Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Lucky Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company787108/vacancy7375728">Junior Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5442155/vacancy6828297">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">AXIOMSL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7570024">Middle Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7838357/vacancy7572497">Middle Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Quod Financial Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7589639">Intermediate / Senior Java Full Stack Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company788/vacancy7589586">Senior Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Infopulse / Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581205">Senior Scala Engineer, Cloud-Native Management Platform</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581202">Middle QA Automation (Selenium+Java) Engineer, Portfolio Management System</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581199">Ad Tech Engineer, Digital Communications Platform</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5050948/vacancy6598784">Php, java/php, frontend/php</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CBOK sp. z o.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7579246">Big Data Developer, Media Conglomerate</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company209907/vacancy7570950">Middle Java Developer for Loom Systems (Kharkiv)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company209907/vacancy7570984">Senior Java Developer for Loom Systems</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7547635">Data Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy5058046">Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company209907/vacancy7525826">Solution Architect for Ciklum Solutions</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2433708/vacancy6885133">Junior Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Appus</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7578002">Team Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company444363/vacancy6732918">Software Engineer (Chatbots)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Intetics Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7235866">Обучение Java</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7378693">Software Test Automation Engineer (Java)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy6968119">Практика Android</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company754053/vacancy7377112">Smart Junior Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">LuckyWare Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5176902/vacancy7577659">Trainee Java Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Aimprosoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2461672/vacancy7561753">Senior Android Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Riff Point</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7866311/vacancy7575295">Преподаватель Java / C++ / Unity 3D / QA Automation / IT Sales</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Science Park Synergy</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4747215/vacancy7569382">Java developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SYTOSS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5243516/vacancy7567335">Trainee Application Developer (Java, Salesforce, JS)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ascendix Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4225918/vacancy7455944">Middle Android developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Бесплатка</td> 
     <td class="salary">55 000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company569821/vacancy7544181">ІТ-стажер Департаменту розробки банківських технологій</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">UKRSIBBANK BNP Paribas Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7587025">React Native Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7561177">Full Stack Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7591342">Middle JavaScript Developer, Rental Platform</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7592752">Fullstack (Node.js+ React.js) Developer, Health Insurance Solutions</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2010137/vacancy7593787">Senior Angular developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Beetroot</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7585670">UI Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4819986/vacancy7576431">Middle JavaScript Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Design and Test Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3996917/vacancy7228845">Front-end developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Requestum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7529600">Webmaster with Front-end Experience, Worldwide Product Services (Relocatio...</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3485710/vacancy7434556">.NET developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Langate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company797752/vacancy7524526">Middle Node.js developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SSA Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7584976">Middle/Senior JavaScript/Node.js Developer (Video Platform)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company625991/vacancy7585062">Node.js Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CodeIT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7593058">PHP/JavaScript Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7584903">Middle Full Stack JavaScript Developer (Social Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7117141/vacancy7560147">Junior Full-Stack Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">TrendLine Global, LLP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company914902/vacancy6891764">Front-end developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Фактор, Группа компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company37403/vacancy7384037">Front-End разработчик</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">UBC Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7522583">Senior Fullstack Javascript Developer (Healthcare Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company908827/vacancy7592685">Javascript Full Stack developer (NodeJS + Angular)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ITCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7484062/vacancy7592673">Front-End Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">AdCharge</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7592668">Senior Web UI Software Engineer with ReactJS</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7419563">Node.js Developer (Sportsbook Application)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7592631">Intermediate Web UI (Node.js) Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7592625">Intermediate Web UI (Angular JS and Angular 2+)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7564766">Fullstack (Node.js+Angular) Developer, Digital Health Solutions</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7592316">Middle JavaScript Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2010137/vacancy7446881">Front-End (React.js) Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Beetroot</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7574123">Middle/Senior Node.js Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7573960">Senior Web UI Software Engineer (Angular1)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1455295/vacancy7582917">Front-End разработчик</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Евро-азиатская служба стимулирования сбыта, ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7573931">Junior Web UI Software Engineer (AngularJS)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7573949">Intermediate / Senior React Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7573953">Intermediate JavaScript Software Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7557510">Game Development Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7546301">Senior Front-End (React.js) Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7333636">Middle Front-End (Angular) Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581193">Senior Front-End (Angular) Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581196">Senior Node.js Engineer, Blockchain Content Platform</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company277662/vacancy7581197">Middle Node.js Engineer, Multinational Financial Services</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company794166/vacancy7582729">Front end developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Вертикаль, НПО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7566368">Native Script Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5074847/vacancy7421260">Front-end developer (junior/trainee)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Vocter</td> 
     <td class="salary">10 000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company908827/vacancy7508710">Middle Javascript Software Engineer with Angular</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ITCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company928659/vacancy7505661">React Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7572934">Интенсив Angular</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2608808/vacancy7565671">Middle Front-end Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Brander</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company787108/vacancy7500221">Middle Front-End Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company787108/vacancy7500227">Angular Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Компания CS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company908827/vacancy7399548">Symfony / Angular developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ITCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4612456/vacancy7590073">Junior JavaScript Developer (Trainee)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Devicosolutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2303360/vacancy7185145">Front-End Developer (React)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Flexaspect</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7448821">Senior FullStack Magento Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7838357/vacancy7572499">Front-end (Angular) Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Quod Financial Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7547953">FullStack Magento Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company6968884/vacancy7581368">Junior Full Stack PHP/JS Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">DC Link</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7589644">Senior Web UI Software Engineer with Angular1 (Kharkiv)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3449912/vacancy7134558">Junior Full Stack PHP/JS Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">MaybeWorks</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3449912/vacancy7134556">Junior Full-Stack JavaScript Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">MaybeWorks</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company6089921/vacancy7564843">Front-end developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Imagineering Studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3996917/vacancy7254989">JavaScript developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Requestum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7564658">Frontend Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3763144/vacancy7571361">Junior Front-end Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Valtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7500919">JavaScript Game Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company711974/vacancy7525580">Middle Full Stack Web Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Lulu Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7397912">Senior Frontend Magento Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7551015">Junior .Net Developer for Modern Stack Long Term Project</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7551013">Middle .Net Developer for Modern Stack Long Term Project</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4321359/vacancy7072419">Trainee HTML5 banners developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">P2H</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1100697/vacancy7470170">FullStack .Net Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Yael Acceptic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company6501242/vacancy7551298">Junior Python, JS developer, C#</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ФОСС-Он-Лайн</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company979379/vacancy7462753">Full-stack Web Developer (office or remotely)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CodeTiburon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7093959">Senior JavaScript Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7563258">Full Stack Software Engineer (Ruby / Angular)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7563254">IT Academy Mentor</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company797752/vacancy7579096">Magento Front-end developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SSA Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7542051">Middle Full Stack JavaScript Developer (Social Project)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company908827/vacancy7533830">React Front-end developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ITCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company959/vacancy7578208">Intermediate Strong Web UI Engineer with React Native</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company908827/vacancy7161756">JavaScript React developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ITCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy6046250">Middle Javascript developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7483819">Angular Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7539119">Практика FRONT-END</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7024119">Node.js Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company53660/vacancy7554471">Интенсив JavaScript</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">NIX Solutions ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2010137/vacancy7479362">Front-end Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Beetroot</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7487262">Middle JavaScript/Node.js Developer (Entertainment Portal)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company979379/vacancy6977466">React Native Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">CodeTiburon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company825/vacancy7027379">Senior Haxe Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company5278561/vacancy7582474">Front-End Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">202-ecommerce</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4318073/vacancy6503704">Front-end web developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Promodex</td> 
     <td class="salary">14 000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2505217/vacancy6986472">Junior+ Magento Developer (back-end)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">BIG DROP, ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company6385084/vacancy7561239">React Native Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">FlexBricks / Додурич С.В., ФЛП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2141099/vacancy7580038">Front-end developer (React)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">TechHunt агентство</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3149353/vacancy7566147">Программист PHP/JS</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plektan</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4707496/vacancy7573184">Web developer PHP, JS, WordPress</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Liluweb</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3551574/vacancy7538853">React Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">P-Product.Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company4147569/vacancy7570597">Web Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Ginfora</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1095804/vacancy7568962">Frontend Developer Typescript</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Innotech / Интеллект бюро</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1095804/vacancy7568952">Frontend Developer VueJS</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Innotech / Интеллект бюро</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company1095804/vacancy4777006">Веб-программист PHP, AJAX (Full Stack)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Innotech / Интеллект бюро</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company7494062/vacancy7567958">Удаленный программист Angular 2+</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">SR Solutions Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company2302565/vacancy6949065">Front-end разработчик</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Арт-коралл, Агентство интернет-коммуникаций</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company3595652/vacancy7562118">PHP-программист со знанием Java Script</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Serfcompany</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://rabota.ua/company6385084/vacancy7561244">Senior React Native Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">FlexBricks / Додурич С.В., ФЛП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>